.title{
    padding-left: 100px;
    padding-top: 10px;
    color: limegreen;
}

.homesubcont{
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
}

.imgsty{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

.boxtext{
    margin-left: 25px;
}