.postsubcont{
    background-color: white;
    margin-top: 30px;
    border-radius: 10px;
}

.comments{
    background-color: white;
    padding-bottom: 5px;
}

.comments.clicked{
    background-color: white;
}

.boxtext{
    margin-left: 25px;
}

.like-button{
    background-color: white;
    border: none;
}

.like-button:active,
.like-button:focus {
  outline: none;
  border: none;
}

.like-button.liked {
    color: #1b79de;
    border: none;
  }

.hand-hover:hover {
    cursor: pointer;
}

.icosty{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 10px;
}

.commentsty{
    background-color: #e7e9ee;
    padding: 5px;
    border-radius: 5px;
}

.newcomment{
    width: 100%;
    height: 35px;
}