.subcont{
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
}

.imgsty{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

.icosty{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.boxtext{
    margin-left: 25px;
}